# Envs & IDE
.venv/
.env
.vscode/
.idea/

# Python cache
__pycache__/
*.py[cod]
*.pyo

# OS / misc
.DS_Store
Thumbs.db

# Local DBs (optional)
*.sqlite3
*.db

# Developer scratch files
*_old.py
*_tmp.py
*.bak
infra/migrations/versions/1fcf21f1297b_replace_users_with_accounts_and_add_auth.py
Install.md

#
coverage.xml
htmlcov/
.coverage

# notebooks
*.ipynb
**/.ipynb_checkpoints/

# streamlit local settings
ui/.user_settings.json
ui/.user_settings.json
